.centreText {
  text-align: center;
}

h1 {
  font-size: 150px;
}

.subredditField{
  text-align: center;  
}

#results {
  display: flex;
  flex-direction: column;
}

.post-Card {
  text-decoration: none;
  padding: 10px;
  border: solid 1px #d10000;
  margin: 10px auto;
}